#navbarLogo {
    height: 25px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

#navbarName {
    color: rgba(255, 0, 0, 0.582);
}

#main {
    padding-top: 0;
}

body {
    background-image: url("./imagesMS/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

h5 {
    font-size: 30px;
    margin-bottom: 25%;
    font-family: 'Abril Fatface', cursive;

}

#slide2font {
    color: black;
}